# Python Homework: Lesson 1

Welcome to your first Python homework assignment! 

These tasks are designed to help you practice the concepts learned in Lesson 1, including basic operations, different variable types (strings, booleans), and fundamental data structures (lists, tuples, sets), as well as control flow (loops and conditionals).

Complete the tasks in each section by writing your code in the provided code cells. Good luck!

## Section 1: Basic Operations Tasks

These tasks focus on comments, variable assignment, basic arithmetic, and the `print()` function.

### Task 1.1: Variable Assignment and Printing
Assign the number `15` to a variable named `x` and the string `"Hello Python"` to a variable named `message`. Then, print both variables on separate lines.

### Task 1.2: Basic Arithmetic
Given two numbers, `num1 = 25` and `num2 = 7`, calculate their sum, difference, product, and quotient. Print each result with a descriptive label (e.g., "Sum: ").

### Task 1.3: Using Comments
Write a short Python code snippet that calculates the area of a rectangle. Include comments explaining each step (variable assignment, calculation, printing).

### Task 1.4: Variable Reassignment
Assign the value `100` to a variable `score`. Print its value. Then, reassign `score` to `150` and print the new value. Observe how the value changes.

### Task 1.5: Integer Division
Calculate the integer division of `29` by `4`. Print the result.

### Task 1.6: Modulo Operation
Find the remainder when `50` is divided by `7`. Print the result.

### Task 1.7: Combining Operations
Calculate the value of the expression `(10 + 5) * 2 - 1` using Python. Print the result.

### Task 1.8: `print()` with Multiple Arguments
Print the numbers `10`, `20`, `30`, and the string `"End"` all on a single line, separated by spaces, using a single `print()` statement.

### Task 1.9: Applying Variable Advantages
Calculate the simple interest on a principal amount of `$1000` at an annual interest rate of `5%` for `3` years. Use variables for principal, rate, and time to make your calculation clear and easy to modify. The formula for simple interest is `Principal * Rate * Time`.

### Task 1.10: Exponentiation and Order of Operations
Calculate the value of `2` raised to the power of `3`, and then add `5` to the result. Print the final value.

## Section 2: Other Variable Types Tasks

These tasks cover strings, boolean values, and comparison operators.

### Task 2.1: String Declaration
Declare a string variable `city` using double quotes with the value `"New York"`. Declare another string variable `country` using single quotes with the value `'USA'`. Print both.

### Task 2.2: Concatenating Strings
Combine the string variables `first_name = "John"` and `last_name = "Doe"` to create a `full_name` variable. Print the `full_name`.

### Task 2.3: Boolean Equality Comparison
Check if `10` is equal to `"10"`. Assign the result to a variable `is_equal` and print it. Explain why the result is `True` or `False`.

### Task 2.4: Boolean `in` Operator
Check if the substring `"pyt"` exists in the string `"Python Programming"`. Print `True` or `False`.

### Task 2.5: Using `and` Operator
Given `age = 25` and `has_license = True`, write a boolean expression that evaluates to `True` if `age` is greater than or equal to `18` AND `has_license` is `True`. Print the result.

### Task 2.6: Using `or` Operator
Given `is_weekend = False` and `is_holiday = True`, write a boolean expression that evaluates to `True` if it's a `weekend` OR a `holiday`. Print the result.

### Task 2.7: Using `not` Operator
If `is_raining = True`, use the `not` operator to determine if it is *not* raining. Print the result.

### Task 2.8: Combining Boolean Operators
Given `temp = 28`, `sunny = True`, `raining = False`. Create a boolean expression that is `True` if the `temp` is greater than `25` AND `sunny` is `True` AND it is `not raining`. Print the result.

### Task 2.9: Other Comparison Operators
Compare `num_apples = 10` and `num_oranges = 12`.
1.  Is `num_apples` less than `num_oranges`?
2.  Is `num_oranges` greater than or equal to `num_apples`?
Print both boolean results.

### Task 2.10: Checking Variable Type
Assign the value `42` to a variable `answer` and the value `"Python"` to a variable `language`. Print the type of each variable using the `type()` function.

## Section 3: List, Tuple, Set Tasks

These tasks will help you work with Python's collection types: lists, tuples, and sets.

### Task 3.1: List Declaration and Access
Create a list named `colors` containing `"red"`, `"green"`, `"blue"`. Print the entire list, then print the second element (`"green"`) using indexing.

### Task 3.2: Appending to a List
Start with the list `numbers = [1, 2, 3]`. Add the number `4` to the end of the list using the `append()` method. Then print the updated list.

### Task 3.3: Removing from a List by Index (`pop()`)
Given the list `fruits = ["apple", "banana", "cherry", "date"]`, remove the element at index `1` (`"banana"`) using `pop()`. Print the removed item and the modified list.

### Task 3.4: Removing from a List by Value (`remove()`)
Using the list `items = ["pen", "paper", "eraser", "pencil"]`, remove the item `"eraser"` using the `remove()` method. Print the list after removal.

### Task 3.5: List Concatenation
Concatenate `list1 = [10, 20]` and `list2 = [30, 40]` to create a `combined_list`. Print `combined_list`.

### Task 3.6: Tuple Declaration and Access
Create a tuple named `coordinates` with values `(latitude, longitude)` like `(34.05, -118.25)`. Print the entire tuple, then access and print the `longitude`.

### Task 3.7: Tuple Concatenation
Concatenate `tuple1 = (1, 2)` and `tuple2 = ('a', 'b')` to form a `new_tuple`. Print `new_tuple`.

### Task 3.8: Set Declaration (Unique Elements)
Create a set named `unique_numbers` from the following list: `[1, 2, 2, 3, 4, 4, 5]`. Print the set and observe how duplicate elements are handled.

### Task 3.9: Adding to a Set
Start with `my_set = {'apple', 'banana'}`. Add `"orange"` to the set. Then, try adding `"apple"` again. Print the set after both operations to see its content.

### Task 3.10: Set Operations
Given `set_a = {1, 2, 3, 4}` and `set_b = {3, 4, 5, 6}`:
1.  Find their `intersection`.
2.  Find their `union`.
3.  Find the `difference` (`set_a - set_b`).
Print the result of each operation.

## Section 4: Conditions and Loops Tasks

These tasks involve using `for` and `while` loops, and `if/elif/else` conditional statements, along with `break` and `continue`.

### Task 4.1: Simple `for` Loop with `range()`
Use a `for` loop to print numbers from `0` to `4` (inclusive).

### Task 4.2: `for` Loop Iterating Over a List
Iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each fruit name.

### Task 4.3: `for` Loop with `range(start, stop)`
Print numbers from `5` to `9` (inclusive) using a `for` loop and `range()` with `start` and `stop` arguments.

### Task 4.4: `for` Loop with `range(start, stop, step)`
Print even numbers from `0` to `10` (inclusive) using a `for` loop and `range()` with a `step` argument.

### Task 4.5: Simple `while` Loop
Write a `while` loop that prints numbers starting from `1` and stops when the number becomes greater than `5`.

### Task 4.6: `if/else` Statement
Given a `temperature = 20`, write an `if/else` statement. If the `temperature` is greater than `25`, print `"It's hot!"`. Otherwise, print `"It's not too hot."`. Try changing the `temperature` to `30` to test both conditions.

### Task 4.7: `if/elif/else` Statement
Ask the user for their `grade` (as an integer input). If the `grade` is `90` or above, print `"A"`. If it's between `80` and `89` (inclusive), print `"B"`. Otherwise, print `"C"`.

### Task 4.8: Using `break` in a Loop
Iterate through numbers from `1` to `10`. Print each number. If the number is `7`, use `break` to exit the loop prematurely.

### Task 4.9: Using `continue` in a Loop
Iterate through numbers from `1` to `5`. If a number is `3`, use `continue` to skip printing that number, but continue the loop for subsequent numbers.

### Task 4.10: Combining Loops and Conditionals
Given a list of `temperatures = [22, 28, 19, 32, 25]`. Write a `for` loop to iterate through the temperatures. Inside the loop, use an `if` statement to print `"High temperature!"` if the temperature is above `30`, otherwise print the temperature itself.

--- 
**End of Homework for Lesson 1.**

Review your answers and ensure your code runs correctly. Great job!