# Python Basics
Welcome everybody! 

We're starting our journey with the Python language. 

For simplicity, we'll initially write all Python programs in Jupyter environment. Hope it's pre-configured and accessible from your browser or IDE. 

The text you're reading was written in a `"cell"`. 
A "cell" is an indivisible unit of text or code that Jupyter executes as a whole.

Create a new cell by clicking the `+` button in the toolbar above. 

Try creating a new cell, clicking inside it (cursor will appear), writing:
```python
1 + 5
```
and "executing" it with `Ctrl + Enter` or `Shift + Enter`. 

Below the cell, the number 6 will appear - this result was calculated by Python.

Cells allow immediate result viewing - that's their advantage.

We'll start with basic language constructs.

In [47]:
1 + 5

6

## Basic Operations
Let's examine fundamental operations every Python programmer uses.

In [48]:
# This is a comment. Python ignores everything after # until end of line
# The editor highlights this in gray

# Empty lines are also ignored and carry no meaning

# The = (equals) sign is assignment. We're asking to store value 5 in variable "a"
a = 5

In [49]:
# Now we can retrieve the value by name "a" - currently it's 5. Jupyter will show this
a

5

In [50]:
# Arithmetic operations work with numbers
5 * 11

55

In [51]:
# And with variables
11 * a

55

In [52]:
# We can explicitly print values using the print function
# Like f(x) in math - function f takes argument x and performs actions
print(a)  
# In our case - prints it

5

In [53]:
# print can take any number of arguments (separated by commas)
# It will print them all separated by spaces
print(4, 1, 'hello', a)

4 1 hello 5

In [54]:
# Integer division discards fractional part
5 // 2

2

In [55]:
# Modulo operation uses % symbol
5 % 2

1

In [56]:
# Variables can change values during execution - hence the name
a = 10
print(a / 2)
a = 4
print(a / 2)

5.0
2.0

From the example above, you can see multiple commands in one cell - Jupyter executes them sequentially. Python expects each command on a new line.

### Why use variables?
Variables have two advantages:
1. Make logic independent of specific numbers
2. Make data transformations readable

Example:
Calculate investment returns after 5 years from different banks. We have $1000 and two banks with different rates:
1. Bank "Spring" offers 3% annual interest
2. Bank "Autumn" offers 2% but is more reliable

Calculate final amount after 5 years:

In [57]:
3 ** 3  # 3 * 3 * 3

27

In [58]:
# Double asterisk is exponentiation operator
# Note parentheses determine operation order
1000 * ((100 + 3) / 100)**5

1159.2740743000002

In [59]:
# Spaces between operators are ignored
1000 * ((100 + 2) / 100) ** 5

1104.0808032

Looking at the code, it's unclear what the first 1000 represents.
You need to know the original problem.

Let's rewrite using variables:

In [60]:
initial_sum = 1000
interest_rate = 3
years = 5
# Now the calculation logic is clear for any input
end_sum = initial_sum * ((100 + interest_rate) / 100)**years
end_sum

1159.2740743000002

Recalculating for different rates is easy - just change the second line setting `interest_rate`.

# NEXT SECTION 

### Other Variable Types
Variables can store more than numbers! There are strings, floating-point numbers (called *float*), and more.
#### Strings

In [61]:
# Strings are enclosed in quotes
# Double quotes
name = "Gennadiy"
# Or single quotes - no difference
surname = 'Golovkin'
print(name)
print(surname)

Gennadiy
Golovkin

In [62]:
print(2 ** 5)

32

In the cell above, 4 commands executed:
1. We stored string `Gennadiy` in variable `name`
2. We stored string `Golovkin` in variable `surname`
3. We called `print` with variable `name`. Python substituted its value and executed `print("Gennadiy")`
4. Same as step 3 but with `surname`

In [63]:
# Every variable has a type, Python determines it automatically
greeting = 'hello'
# Print the type
print(type(greeting))
print(greeting)

# Python even allows changing types dynamically! Not all languages allow this
greeting = 2
print(type(greeting))
print(greeting)

<class 'str'>
hello
<class 'int'>
2

#### Boolean

In [64]:
# Boolean type represents "yes" or "no"
# Python uses True and False
# Used extensively in condition checks
my_bool = ('5' == 5)  # False, because comparison considers types
my_bool

False

In [65]:
my_bool_2 = ('el' in 'hello')  # True, because "hello" contains substring "el"
my_bool_2

True

In [66]:
# Boolean operators: and, or, not
# and requires both values to be True
a = 3
# == is equality operator (different from assignment!)
# checks if left and right values are equal
(5 == 5) and (a == 3)

True

In [67]:
# or requires at least one True value
(5 == 3) or (a == 3)

True

In [68]:
# not returns the opposite value
not (5 == 3)

True

In [69]:
# Typically used for complex logic
my_name = 'Alex'
(a == 3) or (my_name == 'James')

True

Evaluation order:

1. Parentheses
2. `not`
3. `and`
4. `or`

In [70]:
# Other comparison operators
# greater than or equal
print(5 >= 2)
# strictly greater
print(5 > 2)  # boolean values can be passed to functions
# less than or equal (= always comes second)
print(3 <= 1)
# not equal
'hi' != 'bye'  # equivalent to not ('hi' == 'bye')

True
True
False

True

## List, tuple, set
Often we need to store multiple values in a variable. For example, if we want to analyze internet shop customers from last month, it makes sense to keep them together.

Python has several types for data collections:
- list
- tuple
- set

Let's explore each.
### List
A collection that can store, retrieve, and remove objects. Remembers the order of elements.

In [71]:
# Declared with square brackets, elements separated by commas
my_list = [1, 2, 3, 5]
my_list

[1, 2, 3, 5]

In [72]:
# Access elements by index using square brackets
# Note: indexing starts at 0
my_list[1]  # second element in list

2

In [73]:
len(my_list)  # get length

4

In [74]:
# List elements can be different types
# Can even store other lists
my_list = ['a', 1, 3.14, [1, 2]]
print(my_list)

['a', 1, 3.14, [1, 2]]

In [75]:
# Lists can be concatenated
new_list = my_list + ['h', 'e', 'l', 'l', 'o']
new_list

['a', 1, 3.14, [1, 2], 'h', 'e', 'l', 'l', 'o']

In [76]:
# Add elements with append
new_list.append('g')
new_list
# Execute multiple times - each time appends

['a', 1, 3.14, [1, 2], 'h', 'e', 'l', 'l', 'o', 'g']

In [77]:
# Remove elements by index
# Removes first element (position 0)
deleted_item = new_list.pop(0)
print(deleted_item)
# pop() without arguments removes last element
print(new_list.pop())
# Repeated execution empties the list

a
g

In [78]:
new_list

[1, 3.14, [1, 2], 'h', 'e', 'l', 'l', 'o']

In [79]:
# Remove by value (raises error if missing)
print(new_list)
new_list.remove('h')
print(new_list)

[1, 3.14, [1, 2], 'h', 'e', 'l', 'l', 'o']
[1, 3.14, [1, 2], 'e', 'l', 'l', 'o']

#### When to use
When storing multiple data in one logical place. Example: list of a customer's orders.
Ideal when you need to add elements, track order, and remove items.

### Tuple
Similar to `list` but immutable (no `append` or `remove`). Once created, cannot be modified.

In [80]:
my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [81]:
my_tuple[1]

2

In [82]:
# Can be concatenated like lists
# Creates a new tuple
my_tuple + (5, 5)

(1, 2, 3, 5, 5)

In [83]:
(5, 5) + my_tuple

(5, 5, 1, 2, 3)

In [84]:
len(my_tuple + (1, 3, 'apple'))

6

In [85]:
# Otherwise similar to list
my_tuple[1]

2

#### When to use
When you need list-like convenience but immutability. We'll discuss this more in Lesson 2.

### Set
Similar to mathematical sets. Stores unique elements. Doesn't preserve element order.

In [86]:
a = {2, 'a', 3.14} # '{}'
a

{2, 3.14, 'a'}

In [87]:
b = set() # {}, empty set
b

set()

In [88]:
type(b)

set

In [89]:
# Add element
a.add(3)
a

{2, 3, 3.14, 'a'}

In [90]:
# Adding again won't duplicate
# Sets never contain duplicates
a.add(3)
a

{2, 3, 3.14, 'a'}

In [91]:
# Remove element (raises error if missing)
a.remove(3.14)
a

{2, 3, 'a'}

In [92]:
# a.remove(5)

In [93]:
# a[0]  # Not allowed

Sets can only contain **immutable** objects! This is due to their internal structure. You cannot create a set like `{2, "hello", []}` because the third element is a mutable list.

Set operations:
- `a.intersection(b)`
- `a.union(b)`
- `a.symmetric_difference(b)`

In [94]:
a = {'a', (1, 2), 3}
b = {3, (1, 2), 'unique'}
a.intersection(b)

{(1, 2), 3}

In [95]:
a.union(b)

{(1, 2), 3, 'a', 'unique'}

In [96]:
a.symmetric_difference(b)

{'a', 'unique'}

In [97]:
a - b  # set difference

{'a'}

In [98]:
b - a

{'unique'}

#### When to use
1. When you need unique elements and order doesn't matter (most common use case)
2. For set operations like intersections

## Dictionary
Great, we can store customer lists in variables. But what if we want to store phone numbers for each customer? Like an address book:

| Name    | Phone           |
|---------|-----------------|
| Alex    | +1 123 456-7890 |
| Nick    | +44 987 654-321 |

Python uses *dictionaries* (dict) for this:

In [99]:
# Keys can be any immutable object (string, int, tuple)
name_to_phone = {
    'Alex': '+1 123 456-7890',
    'Nick': '+44 987 654-321'
}

dict_struct = {
  "key": "something"
}

print(name_to_phone)

{'Alex': '+1 123 456-7890', 'Nick': '+44 987 654-321'}

In [100]:
# Access values by key
print(name_to_phone['Alex'])
print(name_to_phone['Nick'])

+1 123 456-7890
+44 987 654-321

In [101]:
# name_to_phone["NN"]

In [102]:
# Safe access with default value
print(name_to_phone.get('Nick', 'no info'))  # Key exists
print(name_to_phone.get('Maria', 'no info'))  # Key missing

+44 987 654-321
no info

In [103]:
# Add elements with assignment
name_to_phone['Sarah'] = '+1 555 123-4567'
print(name_to_phone['Sarah'])
# Check key existence
'Sarah' in name_to_phone

+1 555 123-4567

True

In [104]:
name_to_phone

{'Alex': '+1 123 456-7890',
 'Nick': '+44 987 654-321',
 'Sarah': '+1 555 123-4567'}

In [105]:
# Edit existing values
name_to_phone['Sarah'] = 'hidden'
name_to_phone['Sarah']

'hidden'

Python built-in types: https://docs.python.org/3/library/stdtypes.html

# General 
#### Numeric Types:
- int: Integers (whole numbers, positive, negative, or zero).
- float: Floating-point numbers (numbers with a decimal point).
- complex: Complex numbers (numbers with a real and an imaginary part).

#### Sequence Types:
- str: Strings (sequences of Unicode characters).
- list: Lists (ordered, mutable collections of items).
- tuple: Tuples (ordered, immutable collections of items).
- range: Represents an immutable sequence of numbers.


#### Mapping Type:
- dict: Dictionaries (unordered, mutable collections of key-value pairs).

#### Set Types:
- set: Sets (unordered, mutable collections of unique items).
- frozenset: Frozen sets (unordered, immutable collections of unique items).

#### Boolean Type:
- bool: Booleans (represents truth values, True or False).


#### Binary Types:
- bytes: Immutable sequences of bytes.
- bytearray: Mutable sequences of bytes.
- memoryview: Provides a memory-efficient way to access the internal data of an object.

#### None Type:
- NoneType: Represents the absence of a value. 
The sole value of this type is None.